<% if @event != nil %>
  <div class="alert alert-warning">
    <ul>
      <% @event.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h3>Event Edit</h3><br>
<%=  form_with(url: event_update_path, method: :put, local: true) do |form| %>
    <table>
    <tr>
        <td>Event Date</td>
        <td class="tbox1"><%= form.date_field :date, value: @date %>
        <%= form.time_field :time, value: @time %></td>
    </tr>
    <tr>
        <td>Event Title</td>
        <td class="tbox1"><%= form.text_field :event_name, class: "tbox_input", value: @event[:event_name] %></td>
    </tr>
    <tr>
        <td>The Description</td>
        <td class="tbox1"><%= form.text_area :description, class: "tbox_input", value: @event[:description] %></td>
    </tr>
    <tr>
        <td>The Location</td>
        <td class="tbox1"><%= form.text_area :location, class: "tbox_input", value: @event[:location] %></td>
    </tr>
    </table>
    <%= form.submit "Submit" %>
<% end %>
    