<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag('https://reunimos-bucket.s3-ap-southeast-2.amazonaws.com/logo2.png'), root_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= current_user.name %>
        <% if can? :index, current_user %>
          <li><%= link_to "Admission Page", users_index_path %></li>
        <% end %>
        <% if can? :create, current_user %>
          <li><%= link_to "Event Create", events_create_path %></li>
        <% end %>
        <li><%= link_to "Log out", logout_path %></li>
      <% else %>
        <li><%= link_to "Log in", login_path %></li>
        <li><%= link_to "Sign up", signup_path %></li>
      <% end %> 
      <li><%= link_to "Contact us", contact_new_path %></li>
      </ul>
    </nav>
  </div>
</header>
